<div class="container-fluid">

    <!-- start page title -->
    <!--     <app-page-title title="Invoice List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
 -->
    <!-- end page title -->
    <div class="row">
        <div class="col-sm-12 ">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Proyeccion Hembras</h4>
                <div class="page-title-right">
                    <button class="btn btn-success pull-right" (click)="crearNuevoStandardHembra()">Crear</button>

                </div>
            </div>

        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Actualizacion de proyeccion por lotes</div>

                    <form [formGroup]="formularioIngresoLote"
                        (ngSubmit)="actualizarProyeccionPorIngresoDeLotes(formularioIngresoLote.value)">
                        <div class=" mb-3 row"><label class="col-md-2 col-form-label">Ingreso Lotes</label>
                            <div class="col-md-10">
                                <ng-select formControlName="ingresoLotes" bindLabel="nombreIngreso" [multiple]="true"
                                    [loading]="isLoadingIngresoLote" [items]="listaIngresoLote"></ng-select>
                            </div>

                        </div>
                        <div class="mb-3 row">
                            <button class="btn btn-primary">
                                <ng-template [ngIf]="isLoadingProyeccion">
                                    <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i>
                                </ng-template>
                                <span *ngIf="!isLoadingProyeccion">
                                    Actualizar Proyeccion
                                </span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-sm-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <app-table-custom-generic [data]="listaStandardHembra" [haders]="headersStandardHembra">
                    </app-table-custom-generic>

                </div>
            </div>
        </div>

    </div>
    <!-- end row -->



</div> <!-- container-fluid -->
<ng-template #editAndCreateProyStandardHembra let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Proyeccion Hembra</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-4">
        <form [formGroup]="formularioProyeccionHembra" id="formProyHembra"
            (ngSubmit)="crearYActualizarProyStandardHembra(formularioProyeccionHembra.value)">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label">Semana</label>
                        <input
                            [ngClass]="{'is-invalid': formularioProyeccionHembraControles.semana.touched && formularioProyeccionHembraControles.semana.errors}"
                            class="form-control" min="25" placeholder="numero de la Semana" type="number"
                            formControlName="semana">
                        <div *ngIf="formularioProyeccionHembraControles.semana.touched && formularioProyeccionHembraControles.semana.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioProyeccionHembraControles.semana.errors.required">Requerido</span>
                            <span *ngIf="formularioProyeccionHembraControles.semana.errors.min">El valor minimo es
                                25</span>

                            <span *ngIf="formularioProyeccionHembraControles.semana.errors.pattern">La semana debe ser
                                entero y mayor a cero</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label">Porcentaje Postura</label>
                        <input
                            [ngClass]="{'is-invalid': formularioProyeccionHembraControles.porc_postura.touched && formularioProyeccionHembraControles.porc_postura.errors}"
                            class="form-control" type="number" min="25" placeholder="Porcentaje" type="number"
                            name="Rol" formControlName="porc_postura">
                        <div *ngIf="formularioProyeccionHembraControles.porc_postura.touched && formularioProyeccionHembraControles.porc_postura.errors"
                            class="invalid-feedback">
                            <span
                                *ngIf="formularioProyeccionHembraControles.porc_postura.errors.required">Requerido</span>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label">Porcentaje Huevos Incubable</label>
                        <input
                            [ngClass]="{'is-invalid': formularioProyeccionHembraControles.porc_hi.touched && formularioProyeccionHembraControles.porc_hi.errors}"
                            class="form-control" placeholder="Porcentaje" type="number" formControlName="porc_hi">
                        <div *ngIf="formularioProyeccionHembraControles.porc_hi.touched && formularioProyeccionHembraControles.porc_hi.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioProyeccionHembraControles.porc_hi.errors.required">Requerido</span>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label">Porcentaje Nacimiento</label>
                        <input
                            [ngClass]="{'is-invalid': formularioProyeccionHembraControles.porc_nacimiento.touched && formularioProyeccionHembraControles.porc_nacimiento.errors}"
                            class="form-control" placeholder="Porcentaje" type="number"
                            formControlName="porc_nacimiento">
                        <div *ngIf="formularioProyeccionHembraControles.porc_nacimiento.touched && formularioProyeccionHembraControles.porc_nacimiento.errors"
                            class="invalid-feedback">
                            <span
                                *ngIf="formularioProyeccionHembraControles.porc_nacimiento.errors.required">Requerido</span>

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Close')">Close</button>
        <button type="submit" form="formProyHembra" class="btn btn-success ms-1">
            <ng-template [ngIf]="isLoadingForms | async">
                <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i>
            </ng-template>
            {{formularioProyeccionHembra.get('idStandardProyHembra').value==null? 'Guardar':'Editar'}}
        </button>
    </div>
</ng-template>