<div class="card mini-stats-wid">
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <p class="text-muted fw-medium">Ventas en el dia</p>
                <h4 class="mb-0"> S./{{sumSalesToday | number:'1.2' }}</h4>
            </div>
            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                <span class="avatar-title"><i class="bx bx-copy-alt font-size-24"></i></span>
            </div>
        </div>
    </div>
</div>