<div class="card">
    <div class="card-body">
        <form [formGroup]="formFilter" class="row align-items-center" (ngSubmit)="generateGrafic()">
            <div class="col-sm-12 col-md-4">
                <div class="mb-3">
                    <label class="control-label">Fecha Inicio</label>
                    <input
                        [ngClass]="{'is-invalid': formFilterControls.fechaInicio.touched && formFilterControls.fechaInicio.errors}"
                        class="form-control" placeholder="Nombre de la mesa" type="date" formControlName="fechaInicio">
                    <div *ngIf="formFilterControls.fechaInicio.touched && formFilterControls.fechaInicio.errors"
                        class="invalid-feedback">
                        <span *ngIf="formFilterControls.fechaInicio.errors.required">Requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="mb-3">
                    <label class="control-label">FechaFin</label>
                    <input
                        [ngClass]="{'is-invalid': formFilterControls.fechaFin.touched && formFilterControls.fechaFin.errors}"
                        class="form-control" placeholder="Nombre de la mesa" type="date" formControlName="fechaFin">
                    <div *ngIf="formFilterControls.fechaFin.touched && formFilterControls.fechaFin.errors"
                        class="invalid-feedback">
                        <span *ngIf="formFilterControls.fechaFin.errors.required">Requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">
                <button type="submit" class="btn btn-primary">Consultar</button>
            </div>
        </form>
        <div class="row">
            <apx-chart [legend]="this.chartModelPerformaceProduct.legend"
                [plotOptions]="this.chartModelPerformaceProduct.plotOptions"
                [tooltip]="this.chartModelPerformaceProduct.tooltip" [stroke]="this.chartModelPerformaceProduct.stroke"
                [markers]="this.chartModelPerformaceProduct.markers"
                [dataLabels]="this.chartModelPerformaceProduct.dataLabels"
                [noData]="this.chartModelPerformaceProduct.noData" [xaxis]="this.chartModelPerformaceProduct.xaxis"
                [series]="this.chartModelPerformaceProduct.series" [chart]="this.chartModelPerformaceProduct.chart"
                [title]="this.chartModelPerformaceProduct.title"></apx-chart>
        </div>

    </div>
</div>