<div class="container-fluid">

    <!-- start page title -->
    <!--     <app-page-title title="Invoice List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
 -->
    <!-- end page title -->
    <div class="row">
        <div class="col-sm-12">
            <div class=" d-flex justify-content-between">
                <h4 class="title-uppercase d-inline-block m-0 ">Usuarios</h4>
                <button class="btn btn-success" (click)="crearNuevoUsuario()">Crear</button>
            </div>
            <hr>
        </div>
        <div class="col-sm-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <app-table-custom-generic [data]="dataUsuarios" [haders]="headersUsuario">
                    </app-table-custom-generic>

                </div>
            </div>
        </div>

    </div>
    <!-- end row -->



</div> <!-- container-fluid -->
<ng-template #createdAndEditUsuario let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Registrar Usuario</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-4">
        <form [formGroup]="formularioUsuario" id="formUsuario"
            (ngSubmit)="crearYActualizarUsuario(formularioUsuario.value)">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label">Nombre</label>
                        <input
                            [ngClass]="{'is-invalid':formularioUsuarioControles.Nombre.touched  && formularioUsuarioControles.Nombre.errors}"
                            class="form-control" placeholder="Nombre completo del usuario" type="text" name="Rol"
                            formControlName="Nombre">
                        <div *ngIf="formularioUsuarioControles.Nombre.touched && formularioUsuarioControles.Nombre.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioUsuarioControles.Nombre.errors.required">Requerido</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label">Password</label>
                        <input
                            [ngClass]="{'is-invalid':formularioUsuarioControles.Password.touched  && formularioUsuarioControles.Password.errors}"
                            class="form-control" placeholder="Password" type="password" name="Password"
                            formControlName="Password">
                        <div *ngIf="formularioUsuarioControles.Password.touched && formularioUsuarioControles.Password.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioUsuarioControles.Password.errors.required">Requerido</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label">Email</label>
                        <input
                            [ngClass]="{'is-invalid':formularioUsuarioControles.email.touched  && formularioUsuarioControles.email.errors}"
                            class="form-control" placeholder="email" type="email" name="email" formControlName="email">
                        <div *ngIf="formularioUsuarioControles.email.touched && formularioUsuarioControles.email.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioUsuarioControles.email.errors.required">Requerido</span>
                            <span *ngIf="formularioUsuarioControles.email.errors.email">Invalido</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label">Rol</label>
                        <select
                            [ngClass]="{'is-invalid': formularioUsuarioControles.rol.touched && formularioUsuarioControles.rol.errors}"
                            [compareWith]="compareWithRol" class="form-control" name="rol" formControlName="rol">
                            <option *ngFor="let rol of roles" [ngValue]="rol"> {{ rol.Rol
                                }}
                            </option>
                        </select>
                        <div *ngIf="formularioUsuarioControles.rol.touched && formularioUsuarioControles.rol.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioUsuarioControles.rol.errors.required">Requerido</span>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Close')">Close</button>
        <button type="submit" form="formUsuario" class="btn btn-success ms-1">
            <ng-template [ngIf]="isLoadingForms | async">
                <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i>
            </ng-template>
            {{formularioUsuario.get('idUsuario').value==0? 'Guardar':'Editar'}}
        </button>
    </div>
</ng-template>