<apx-chart [legend]="this.chartModelPerformaceUser.legend" [plotOptions]="this.chartModelPerformaceUser.plotOptions" [tooltip]="this.chartModelPerformaceUser.tooltip"
    [stroke]="this.chartModelPerformaceUser.stroke" [markers]="this.chartModelPerformaceUser.markers"
    [dataLabels]="this.chartModelPerformaceUser.dataLabels" [noData]="this.chartModelPerformaceUser.noData"
    [xaxis]="this.chartModelPerformaceUser.xaxis" [series]="this.chartModelPerformaceUser.series"
    [chart]="this.chartModelPerformaceUser.chart" [title]="this.chartModelPerformaceUser.title"></apx-chart>