<div class="row m-0">
    <div class="col-sm-12">
        <form id="formularioPedidoVenta" [formGroup]="this.formGroupPedido"
            (ngSubmit)="this.creacionYEdicionDePedidoVenta()">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="col-md-2 col-form-label">Cliente</label>
                        <ng-select [readonly]="disabledSelectCliente" [compareWith]="compareCliente"
                            [loading]="estaCargandoListaClientes" formControlName="cliente" [items]="listaClientes"
                            bindLabel="CL_CNOMCLI"></ng-select>
                        <div *ngIf="formularioPedidoVentaControles.cliente.touched && formularioPedidoVentaControles.cliente.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioPedidoVentaControles.cliente.errors.required">Requerido</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="col-md-2 col-form-label">Color</label>
                        <input class="form-control" formControlName="color" type="color" />
                        <div *ngIf="formularioPedidoVentaControles.color.touched && formularioPedidoVentaControles.color.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioPedidoVentaControles.color.errors.required">Requerido</span>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12">
        <h5>Detalle</h5>
        <hr>
    </div>
    <div class="col-sm-12 mb-2">
        <form [formGroup]="this.formGroupPedidoDetalle"
            (ngSubmit)="agregarPedidoDetalle(this.formGroupPedidoDetalle.value)" id="formularioPedidoVentaDetalle">
            <div class="row d-flex align-items-center">
                <div class=" col-sm-12 col-lg-4">
                    <div class="mb-3">
                        <label class="control-label">Fecha Pedido</label>
                        <input
                            [ngClass]="{'is-invalid': formularioPedidoDetalleControles.fechaPedido.touched  && formularioPedidoDetalleControles.fechaPedido.errors}"
                            class="form-control" placeholder="fecha de pedido" type="date"
                            formControlName="fechaPedido">
                        <div *ngIf="formularioPedidoDetalleControles.fechaPedido.touched  && formularioPedidoDetalleControles.fechaPedido.errors"
                            class="invalid-feedback">
                            <span *ngIf="formularioPedidoDetalleControles.fechaPedido.errors.required">Requerido</span>
                            <span *ngIf="formularioPedidoDetalleControles.fechaPedido.errors.invalidDate">Ya esta
                                registrada la fecha</span>
                            <span *ngIf="formularioPedidoDetalleControles.fechaPedido.errors.onlyLunes">Solo esta
                                permito registrar el dia Lunes</span>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="mb-3">
                        <label class="control-label">Cantidad Hembras</label>
                        <input
                            [ngClass]="{'is-invalid': formularioPedidoDetalleControles.cantidadHembras.touched  && formularioPedidoDetalleControles.cantidadHembras.errors}"
                            class="form-control" placeholder="Numero de hembras" type="number"
                            formControlName="cantidadHembras">
                        <div *ngIf="formularioPedidoDetalleControles.cantidadHembras.touched  && formularioPedidoDetalleControles.cantidadHembras.errors"
                            class="invalid-feedback">
                            <span
                                *ngIf="formularioPedidoDetalleControles.cantidadHembras.errors.required">Requerido</span>
                            <span *ngIf="formularioPedidoDetalleControles.cantidadHembras.errors.min">Tiene que ser
                                positivo</span>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="mb-3">
                        <label class="control-label">Cantidad Machos</label>
                        <input disabled [value]="cantidadMachosValue" class="form-control"
                            placeholder="Numero de Machos">
                    </div>
                </div>
                <div class="col-sm-12 d-flex justify-content-end">
                    <button type="submit" form="formularioPedidoVentaDetalle"
                        class="btn btn-success">{{indiceEdicionPedidoDetalle>=0? "Editar":"Agrear"}}</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-sm-12">
        <app-table-custom-generic [haders]="headers" [data]="listaPedidoDetalle">
        </app-table-custom-generic>

    </div>
    <div *ngIf="mostrarBotonSubmit" class="col-sm-12">

        <button type="submit" form="formularioPedidoVenta" class="btn btn-success">Crear</button>
    </div>
</div>