<div class="container">
    <p class="text-center p-2">Bienvenido a polleria JUANKA</p>
    <aw-wizard [navBarLayout]="'large-empty-symbols'">
        <aw-wizard-step stepTitle="Elige Los productos">
            <ng-template awWizardStepSymbol>1</ng-template>
            <form [formGroup]="formOrder" id="formOrder" (ngSubmit)="createOrder()">

                <div class="row " formArrayName="orderDetails">
                    <div class="col-sm-12 mb-3"
                        *ngFor="let orderDetailItem of orderDetails.controls;let i=index,let last=last">
                        <div [formGroupName]="i" class="row d-flex align-items-center">
                            <div class="col-sm-12 col-md-4 d-flex justify-content-end mb-1">
                                <div class="button-items">
                                    <button type="button" class="btn btn-primary btn-small" *ngIf="last"
                                        (click)="addOrderDetail()">
                                        <i class="bx bx-plus-medical
                                        "></i>
                                    </button>
                                    <!--   <button type="button" class="btn btn-success btn-small" (click)="addAmount(i)">
                                        <i class=" bx bx-up-arrow-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-small "
                                        (click)="substractAmount(i)">
                                        <i class="bx bx-down-arrow-alt"></i>
                                    </button> -->
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-8">
                                <div class="row align-items-center">
                                    <div class="col-10">
                                        <ng-select bindLabel="name"
                                            [ngClass]="{'is-invalid':orderDetailItem.get('product').touched && orderDetailItem.get('product').errors}"
                                            placeholder="selecciona el producto" class="p-0" formControlName="product"
                                            [items]="products">
                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.name}} <strong [ngClass]="{'text-danger':item.quantity<=1}">
                                                    ({{item.quantity}})
                                                </strong>
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-index="index"
                                                let-search="searchTerm">
                                                {{item.name}}
                                                <strong [ngClass]="{'text-danger':item.quantity<=1}">
                                                    ({{item.quantity}})
                                                </strong>

                                            </ng-template>
                                        </ng-select>
                                        <div *ngIf="orderDetailItem.get('product').touched && orderDetailItem.get('product').errors"
                                            class="invalid-feedback">
                                            <span
                                                *ngIf="orderDetailItem.get('product').errors.required">Requerido</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div
                                            class="counters flex-wrap d-flex align-items-center justify-content-center">
                                            <div class="text-center w-100 p-2" (click)="addAmount(i)">+</div>
                                            <strong
                                                class="text-center w-100">{{orderDetailItem.get('orderedQuantity').value}}</strong>
                                            <div class="text-center w-100 p-2" (click)="substractAmount(i)">-</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--       <div class="col-sm-2">
                                  <div class="counters flex-wrap d-flex align-items-center justify-content-center">
                                    <div class="text-center w-100 p-2" (click)="addAmount(i)">+</div>
                                    <strong class="text-center w-100">{{orderDetailItem.get('orderedQuantity').value}}</strong>
                                    <div class="text-center w-100 p-2" (click)="substractAmount(i)">-</div>
                                </div>
                                <input type="number"
                                    [ngClass]="{'is-invalid':orderDetailItem.get('orderedQuantity').touched && orderDetailItem.get('orderedQuantity').errors}"
                                    formControlName="orderedQuantity" class="form-control"
                                    [max]="orderDetailItem.get('product').value" class="d-none" />
                                <div *ngIf="orderDetailItem.get('orderedQuantity').touched && orderDetailItem.get('orderedQuantity').errors"
                                    class="invalid-feedback">
                                    <span
                                        *ngIf="orderDetailItem.get('orderedQuantity').errors.required">Requerido</span>
                                    <span *ngIf="orderDetailItem.get('orderedQuantity').errors.min">valor minimo
                                        1</span>

                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="control-label">Observacion(Ejem:Pollo sin verduras,papas fritas)</label>
                            <textarea formControlName="observation" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="list-inline wizard mb-0">
                <li class="next list-inline-item float-end"><button form="formOrder"
                        class="btn btn-primary">Siguiente</button>
                </li>
            </ul>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Confirma">
            <ng-template awWizardStepSymbol>2</ng-template>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Name on Card</label>
                        <div class="col-md-9">
                            <input class="form-control" name="txtNameCard" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label" for="ddlCreditCardType">Credit Card Type</label>
                        <div class="col-md-9">
                            <select id="ddlCreditCardType" name="ddlCreditCardType" class="form-control">
                                <option value="">--Please Select--</option>
                                <option value="AE">American Express</option>
                                <option value="VI">Visa</option>
                                <option value="MC">MasterCard</option>
                                <option value="DI">Discover</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Credit Card Number</label>
                        <div class="col-md-9">
                            <input id="txtCreditCardNumber" class="form-control" name="txtCreditCardNumber" type="text">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Expiration Date</label>
                        <div class="col-md-9">
                            <input id="txtExpirationDate" class="form-control" name="txtExpirationDate" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Previous</button>
                </li>
                <li class="next list-inline-item float-end"><button class="btn btn-primary" awNextStep>Next</button>
                </li>
            </ul>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Pide">
            <ng-template awWizardStepSymbol>3</ng-template>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center">
                        <div class="mb-4">
                            <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                        </div>
                        <div>
                            <h5>Confirm Detail</h5>
                            <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Previous</button>
                </li>
            </ul>
        </aw-wizard-step>
    </aw-wizard>

</div>