<div id="layout-wrapper">

  <!--   <app-topbar  >
  </app-topbar> -->
  <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
    <i class="fa fa-fw fa-bars"></i>
  </button>
  <app-sidebar [isCondensed]="isCondensed"></app-sidebar>

  <div class="main-content">
    <div class="row d-flex justify-content-end">
      <div class="col-sm-12 col-md-2">
        <button type="button" (click)="cerrarSesion()" class="btn btn-sm btn-danger float-end  me-2"
          id="vertical-menu-btn">
          Cerrar sesion
        </button>
      </div>

    </div>

    <div class="page-content">
      <!-- content -->
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
  </div>
</div>

<app-rightsidebar></app-rightsidebar>