.status-list {
  border-radius: 6px;
  .status-list__container {
    padding: 10px 10px 0;
    min-width: 170px;
    max-height: 350px;
    .status-list__item {
      transition: background-color 0.07s cubic-bezier(0.785, 0.135, 0.15, 0.86)
        0s;
      position: relative;
      border-radius: 4px;
      padding: 8px 8px 8px 26px;
      white-space: nowrap;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      align-items: center;
      .status-list__status {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
        color: #bbb;
        text-transform: uppercase;
        transition: background-color 0.1s;
        -webkit-user-select: none;
        user-select: none;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
      }
      ::after {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 8px;
        border-radius: 2px;
        background-color: currentColor;
      }
      :hover {
        background-color: currentColor;
        color: white;
      }
    }
  }
}

.status-list__scroll-view {
  overflow-y: auto;
  overflow-x: hidden;
}
