<form [formGroup]="formOrder" id="formOrder" (ngSubmit)="createOrder()">

    <div class="row" formArrayName="orderDetails">
        <div class="col-sm-12 mb-3" *ngFor="let orderDetailItem of orderDetails.controls;let i=index,let last=last">
            <div [formGroupName]="i" class="row">
                <div class="col-sm-4 d-flex justify-content-end mb-1">
                    <div class="button-items">
                        <button class="btn btn-primary btn-small" *ngIf="last" (click)="addOrderDetail()">
                            <i class="bx bx-plus-circle"></i>
                        </button>
                        <button class="btn btn-success btn-small" (click)="addAmount(i)">
                            <i class=" bx bx-up-arrow-alt"></i>
                        </button>
                        <button class="btn btn-danger btn-small " (click)="substractAmount(i)">
                            <i class="bx bx-down-arrow-alt"></i>
                        </button>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ng-select bindLabel="name" placeholder="selecciona el producto" class="p-0"
                        formControlName="product" [items]="products">
                    </ng-select>
                </div>
                <div class="col-sm-2">
                    <input type="number" formControlName="orderedQuantity" class="form-control" />

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label class="control-label">Observacion</label>
                <textarea formControlName="observation" class="form-control ng-pristine ng-valid ng-touched"></textarea>
            </div>
        </div>
    </div>
</form>