<div class="container-fluid">

    <!-- start page title -->
    <!--     <app-page-title title="Invoice List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
 -->
    <!-- end page title -->
    <div class="row">
        <div class="col-sm-12">
            <h4>Acciones</h4>

            <div class="card">

                <div class="card-body">
                    <app-table-custom-generic [data]="listAccionesData" [haders]="headers"></app-table-custom-generic>

                </div>
            </div>
        </div>
        <div class="col-sm-12">

            <h4>Menus</h4>

            <div class="card">

                <div class="card-body">
                    <app-table-custom-generic [data]="listMenusData" [haders]="headerMenu"></app-table-custom-generic>

                </div>
            </div>
        </div>



    </div>
    <!-- end row -->



</div> <!-- container-fluid -->