/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or
@import "~@ng-select/ng-select/themes/material.theme.css";
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}
@keyframes example {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.title-uppercase {
  text-transform: uppercase;
}

.ul-list {
  flex-wrap: nowrap;
  display: flex;
  overflow-x: auto;
  padding-bottom: 3px;
}
.btnSeleccionado {
  color: white !important;
  background-color: #e30512 !important;
}
.fondo-rosado {
  color: white;
  background-color: #f5cdcd !important;
  &.oscuro {
    background-color: #c7a6a6 !important;
  }
}
.selected .invalid-feedback {
  display: block !important;
}
.ng-select.is-invalid .ng-select-container {
  border-color: red !important;
}
.fondo-celeste {
  color: white;
  background-color: #9fd8df !important;
  &.oscuro {
    background-color: #8ea6a9 !important;
  }
}
.fondo-gris {
  color: black;
  font-weight: initial !important;
  background-color: #dddddd !important
  ;
}
.fondo-gris-oscuro {
  color: black;
  font-weight: initial !important;
  background-color: #74767d !important  ;
}
.carousel-item.active {
  position: relative !important;
  opacity: 1;
}
